@use "./base.scss";

// put your custom CSS here!
img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}